{
  "x-generator": "NSwag v13.12.1.0 (NJsonSchema v10.4.6.0 (Newtonsoft.Json v12.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Payment Service",
    "version": "2022-04-07",
    "description": "**Download OpenAPI specification**: [Download](/bundled.json)\n\n# Introduction\n\nThe Dojo API is RESTful. It returns HTTP response codes to indicate errors. It also\naccepts and returns JSON in the HTTP body.\n\n## Base URLs\n\nUse the following base URL when making requests to the API:  https://api.dojo.tech/\n\n## Looking for no-code solutions?\n\nTry one of our [pre-builded solutions](../docs/plugins/) for your site.\n\n# Authentication\n\nThe Dojo API uses [Basic HTTP auth](https://en.wikipedia.org/wiki/Basic_access_authentication). To generate your API keys, send a request to our [support team](https://support.dojo.tech/hc/en-gb/requests/new).\nSecret keys for the test environment have the prefix `sk_sandbox_` and for production have the prefix `sk_prod_`.\n\nYou must include your secret API key in the header of all requests, for example:\n\n```curl\ncurl\n  --header 'content-type: application/json' \\\n  --header 'Authorization: Basic sk_prod_your_key' \\\n...\n    \n```\n\nAPI requests without authentication will fail.\n\n<SecurityDefinitions />\n\n# HTTP Responses\n\nThe API returns HTTP responses on each request to indicate the success or otherwise of API requests. The various HTTP status codes we might return are listed below.\n\n| Code  | Title | Description |\n|-----|-----|-----|\n|`200`|`OK`| The request was successful. |\n|`400`|`Bad Request`| Bad request, probably due to a syntax error. |\n|`401`|`Unauthorized`| Authentication required. |\n|`402`|`Request Failed`| Over plan quota on this endpoint. |\n|`404`|`Not Found`| The resource doesn't exist. |\n|`405`|`Method Not Allowed`| The used request method isn't supported by that resource, for example using a POST on a resource that requires a GET.\n|`409`|`Conflict`| The request couldn't be completed because it conflicted with another request or the server's configuration. |\n|`50X`|`Internal Server Error`| An error occurred with our API.|\n\n# Errors\n\nDojo follows the error response format proposed in [RFC 7807](https://tools.ietf.org/html/rfc7807) also known as Problem Details for HTTP APIs. All errors are returned in the form of JSON.\n\n## Error Schema\n\nIn case of an error, the response object contains the following fields:\n\n| Field | Type|  Description |\n|-----|-----|-----|\n|`errors`|`object`| A human-readable explanation of errors.|\n|`type`|`string`| A URI reference [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) that identifies the problem type.|\n|`title`|`string`| A short, human-readable summary of the error. |\n|`status`|`integer`| The [HTTP status code](#section/HTTP-Responses). |\n|`traceId`|`string`| The unique identifier of the failing request.|\n|`detail`|`string`| A human-readable message giving more details about the error. Not always present.|\n\nThe following example shows a possible error response:\n\n```json\n{\n    \"errors\": {\n        \"Reference\": [\n            \"The Reference field is required.\"\n        ]\n    },\n    \"type\": \"https://tools.ietf.org/html/rfc7231#section-6.5.1\",\n    \"title\": \"One or more validation errors occurred.\",\n    \"status\": 400,\n    \"traceId\": \"00-a405f077df056a498323ffbcec05923f-aa63e6f4dbbc734a-01\",\n    \n}\n```\n\n# Versioning\n\nDojo API uses the YYYY-MM-DD API version-naming scheme. You have to pass the version as the `version` header in all API calls, for example:\n\n``` curl\ncurl\n  --header 'content-type: application/json' \\\n  --header 'Authorization: Basic sk_prod_your_key' \\\n  --header 'version: 2022-04-07' \\\n    \n```\n\nWhen we make [breaking changes](../docs/development-resources/versioning-overview#breaking-changes) to the API, we release new dated versions.\n\nThe current version is 2022-04-07.\n\n# Postman collection\n\nYou can run the API collection in Postman:\n\n [![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/16735701-b218f555-a7ad-46c4-8ad8-1f11c0aee443?action=collection%2Ffork&collection-url=entityId%3D16735701-b218f555-a7ad-46c4-8ad8-1f11c0aee443%26entityType%3Dcollection%26workspaceId%3Dfdd152df-0154-428c-aeb4-1b90e46b8523)",
    "termsOfService": "https://dojo.tech/legal/",
    "contact": {
      "name": "Dojo Developer Experience Team"
    }
  },
  "servers": [
    {
      "url": "https://api.dojo.tech"
    }
  ],
  "tags": [
    {
      "name": "Payment intents",
      "description": "Allows you to take and manage payments.\n\n**Documentation**: [Payments](../docs/accept-payments/)"
    },
    {
      "name": "Refunds",
      "description": "Allows you to manage a refund for payments.\n\n**Documentation**: [Refunds](../docs/manage-payments/cancellation-payments/refund/)"
    },
    {
      "name": "Reversal",
      "description": "Allows you to create a reversal for payments.\n\n**Documentation**: [Reversal](../docs/manage-payments/cancellation-payments/reversal/)"
    },
    {
      "name": "Captures",
      "description": "Allows you to capture the full payment amount or part of the amount.\n\n**Documentation**: [Captures](../docs/manage-payments/capture/)"
    },
    {
      "name": "Webhooks",
      "description": "Webhooks notify you when a specific event has occurred. \n\n**Documentation**: [Webhooks](../docs/development-resources/webhooks/)"
    }
  ],
  "x-tagGroup": [
    {
      "name": "Payments",
      "tags": [
        "Payment intents",
        "Refunds",
        "Reversal",
        "Captures"
      ]
    },
    {
      "name": "Notifications",
      "tags": [
        "Webhooks"
      ]
    }
  ],
  "paths": {
    "/payment-intents": {
      "post": {
        "tags": [
          "Payment intents"
        ],
        "summary": "Create a payment intent",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          }
        ],
        "description": "Creates a payment intent.",
        "operationId": "PaymentIntents_CreatePaymentIntent",
        "requestBody": {
          "x-name": "createPaymentIntentRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentIntentRequest",
                "examples": {}
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                },
                "example": {
                  "id": "pi_SMqqJwmMTk6o44wmXde3KA",
                  "captureMode\"": "Auto",
                  "clientSessionSecret": "lmoFsbTJxoiOBgeWkEoFS05ADIQ6STJfJE3oGVNO2cFSb9kza06wGan2DVNceOYCsmZ5I1SiEioFausOAkecUPz8BKSmMV96ecXZZ4-NzoiYZJF0uVYeW8xosG6blQKtZ6HqIIF8--2a7DC_iQ==",
                  "clientSessionSecretExpirationDate": "2022-02-21T15:09:21Z",
                  "status": "Created",
                  "paymentMethods": [
                    "Card"
                  ],
                  "amount": {
                    "value": 1000,
                    "currencyCode\"": "GBP"
                  },
                  "totalAmount": {
                    "value": 1000,
                    "currencyCode": "GBP"
                  },
                  "createdAt": "2022-02-21T14:39:21.6050276Z",
                  "updatedAt": "2022-02-21T14:39:21.6050277Z",
                  "reference": "Order 234",
                  "description": "Demo payment intent",
                  "itemLines": [],
                  "taxLines": [],
                  "metadata": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/payment-intents/{paymentIntentId}": {
      "get": {
        "tags": [
          "Payment intents"
        ],
        "operationId": "PaymentIntents_Get",
        "parameters": [
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the payment intent.\n",
            "x-position": 1,
            "example": "pi_SMqqJwmMTk6o44wmXde3KA"
          },
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                },
                "example": {
                  "id": "pi_SMqqJwmMTk6o44wmXde3KA",
                  "captureMode\"": "Auto",
                  "clientSessionSecret": "lmoFsbTJxoiOBgeWkEoFS05ADIQ6STJfJE3oGVNO2cFSb9kza06wGan2DVNceOYCsmZ5I1SiEioFausOAkecUPz8BKSmMV96ecXZZ4-NzoiYZJF0uVYeW8xosG6blQKtZ6HqIIF8--2a7DC_iQ==",
                  "clientSessionSecretExpirationDate": "2022-02-21T15:09:21Z",
                  "status": "Created",
                  "paymentMethods": [
                    "Card"
                  ],
                  "amount": {
                    "value": 1000,
                    "currencyCode\"": "GBP"
                  },
                  "totalAmount": {
                    "value": 1000,
                    "currencyCode": "GBP"
                  },
                  "createdAt": "2022-02-21T14:39:21.6050276Z",
                  "updatedAt": "2022-02-21T14:39:21.6050277Z",
                  "reference": "Order 234",
                  "description": "Demo payment intent",
                  "itemLines": [],
                  "taxLines": [],
                  "metadata": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Retrieves the details of a payment intent.",
        "summary": "Retrieve a payment intent"
      },
      "delete": {
        "tags": [
          "Payment intents"
        ],
        "operationId": "PaymentIntents_Delete",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "paymentIntentId",
            "description": "Unique identifier for the payment intent.\n",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "example": "pi_SMqqJwmMTk6o44wmXde3KA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                },
                "example": {
                  "id": "pi_SMqqJwmMTk6o44wmXde3KA",
                  "captureMode\"": "Auto",
                  "clientSessionSecret": "lmoFsbTJxoiOBgeWkEoFS05ADIQ6STJfJE3oGVNO2cFSb9kza06wGan2DVNceOYCsmZ5I1SiEioFausOAkecUPz8BKSmMV96ecXZZ4-NzoiYZJF0uVYeW8xosG6blQKtZ6HqIIF8--2a7DC_iQ==",
                  "clientSessionSecretExpirationDate": "2022-02-21T15:09:21Z",
                  "status": "Canceled",
                  "paymentMethods": [
                    "Card"
                  ],
                  "amount": {
                    "value": 1000,
                    "currencyCode\"": "GBP"
                  },
                  "totalAmount": {
                    "value": 1000,
                    "currencyCode": "GBP"
                  },
                  "createdAt": "2022-02-21T14:39:21.6050276Z",
                  "updatedAt": "2022-02-21T14:39:21.6050277Z",
                  "reference": "Order 234",
                  "description": "Demo payment intent",
                  "itemLines": [],
                  "taxLines": [],
                  "metadata": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "Cancel a payment intent",
        "description": "Cancels a payment intent. The payment intent can be canceled if it's in the `Created` status. After cancellation, the payment intent will change the status to `Canceled` and any operations on the payment intent will fail with an error."
      }
    },
    "/payment-intents/{paymentIntentId}/captures": {
      "post": {
        "tags": [
          "Captures"
        ],
        "summary": "Captures a payment",
        "description": "Captures a payment intent that has previously been created but not yet refunded or reversed. You can capture the full amount or a partial amount.",
        "operationId": "Captures_Create",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the payment intent.\n",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "example": "pi_SMqqJwmMTk6o44wmXde3KA"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCaptureRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capture"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/payment-intents/{paymentIntentId}/refresh-client-session-secret": {
      "post": {
        "tags": [
          "Payment intents"
        ],
        "operationId": "PaymentIntents_RefreshClientSessionSecret",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier for the payment intent.\n",
            "x-position": 1,
            "example": "pi_SMqqJwmMTk6o44wmXde3KA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                },
                "example": {
                  "id": "pi_SMqqJwmMTk6o44wmXde3KA",
                  "captureMode\"": "Auto",
                  "clientSessionSecret": "lmoFsbTJxoiOBgeWkEoFS05ADIQ6STJfJE3oGVNO2cFSb9kza06wGan2DVNceOYCsmZ5I1SiEioFausOAkecUPz8BKSmMV96ecXZZ4-NzoiYZJF0uVYeW8xosG6blQKtZ6HqIIF8--2a7DC_iQ==",
                  "clientSessionSecretExpirationDate": "2022-02-21T15:09:21Z",
                  "status": "Created",
                  "paymentMethods": [
                    "Card"
                  ],
                  "amount": {
                    "value": 1000,
                    "currencyCode\"": "GBP"
                  },
                  "totalAmount": {
                    "value": 1000,
                    "currencyCode": "GBP"
                  },
                  "createdAt": "2022-02-21T14:39:21.6050276Z",
                  "updatedAt": "2022-02-21T14:39:21.6050277Z",
                  "reference": "Order 234",
                  "description": "Demo payment intent",
                  "itemLines": [],
                  "taxLines": [],
                  "metadata": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "Update a client session secret",
        "description": "Updates a client session secret."
      }
    },
    "/payment-intents/search": {
      "post": {
        "tags": [
          "Payment intents"
        ],
        "operationId": "PaymentIntents_Search",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchPaymentIntentRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedPaymentIntent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          }
        ],
        "summary": "List all payment intents",
        "description": "Retrieves a list of payment intents.\nResults are paginated, by default the method returns up to 50 payment intents."
      }
    },
    "/payment-intents/{paymentIntentId}/tips-amount": {
      "post": {
        "tags": [
          "Payment intents"
        ],
        "operationId": "PaymentIntents_SetTipsAmount",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the payment intent.\n",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "example": "pi_SMqqJwmMTk6o44wmXde3KA"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTipsAmountRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                },
                "example": {
                  "id": "pi_SMqqJwmMTk6o44wmXde3KA",
                  "captureMode\"": "Auto",
                  "clientSessionSecret": "lmoFsbTJxoiOBgeWkEoFS05ADIQ6STJfJE3oGVNO2cFSb9kza06wGan2DVNceOYCsmZ5I1SiEioFausOAkecUPz8BKSmMV96ecXZZ4-NzoiYZJF0uVYeW8xosG6blQKtZ6HqIIF8--2a7DC_iQ==",
                  "clientSessionSecretExpirationDate": "2022-02-21T15:09:21Z",
                  "status": "Created",
                  "paymentMethods": [
                    "Card"
                  ],
                  "amount": {
                    "value": 1000,
                    "currencyCode\"": "GBP"
                  },
                  "totalAmount": {
                    "value": 1000,
                    "currencyCode": "GBP"
                  },
                  "createdAt": "2022-02-21T14:39:21.6050276Z",
                  "updatedAt": "2022-02-21T14:39:21.6050277Z",
                  "reference": "Order 234",
                  "description": "Demo payment intent",
                  "itemLines": [],
                  "taxLines": [],
                  "metadata": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "Change tips amount",
        "description": "Changes tips amount for a payment intent. Available if you allowed tips when creating this payment intent."
      }
    },
    "/payment-intents/{paymentIntentId}/amount": {
      "post": {
        "tags": [
          "Payment intents"
        ],
        "operationId": "PaymentIntents_SetCustomAmount",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the payment intent.\n",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "example": "pi_SMqqJwmMTk6o44wmXde3KA"
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetAmountRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntent"
                },
                "example": {
                  "id": "pi_SMqqJwmMTk6o44wmXde3KA",
                  "captureMode\"": "Auto",
                  "clientSessionSecret": "lmoFsbTJxoiOBgeWkEoFS05ADIQ6STJfJE3oGVNO2cFSb9kza06wGan2DVNceOYCsmZ5I1SiEioFausOAkecUPz8BKSmMV96ecXZZ4-NzoiYZJF0uVYeW8xosG6blQKtZ6HqIIF8--2a7DC_iQ==",
                  "clientSessionSecretExpirationDate": "2022-02-21T15:09:21Z",
                  "status": "Created",
                  "paymentMethods": [
                    "Card"
                  ],
                  "amount": {
                    "value": 1000,
                    "currencyCode\"": "GBP"
                  },
                  "totalAmount": {
                    "value": 1000,
                    "currencyCode": "GBP"
                  },
                  "createdAt": "2022-02-21T14:39:21.6050276Z",
                  "updatedAt": "2022-02-21T14:39:21.6050277Z",
                  "reference": "Order 234",
                  "description": "Demo payment intent",
                  "itemLines": [],
                  "taxLines": [],
                  "metadata": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "summary": "Change a payment intent amount",
        "description": "Changes the amount for a payment intent. Available if you allowed the amount changes when creating this payment intent.",
        "security": [
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/payment-intents/{paymentIntentId}/receipt": {
      "post": {
        "tags": [
          "Payment intents"
        ],
        "summary": "Send a receipt",
        "description": "Sends a receipt to the email addresses you specified.",
        "operationId": "Receipt_Create",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the payment intent.\n",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "example": "pi_SMqqJwmMTk6o44wmXde3KA"
          }
        ],
        "responses": {
          "204": {
            "description": "Payment receipt requested successfully."
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailReceiptRequest"
              }
            }
          },
          "description": ""
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "paymentIntentId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/payment-intents/{paymentIntentId}/refunds": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Create a refund",
        "description": "Creates a refund. Refund allows you to return a payment that has previously been created but not yet refunded. You can refund the full amount or a partial amount.",
        "operationId": "Refunds_Create",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the payment intent.\n",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "idempotencyKey",
            "x-originalName": "idempotencyKey",
            "in": "header",
            "required": true,
            "description": " An optional idempotency key to recognize subsequent retries of the same request. How you generate the idempotency key is up to you. Must be unique for each new refund for the payment intent.",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "createRefundRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundRequest"
              }
            }
          },
          "required": true,
          "x-position": 3,
          "description": ""
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/payment-intents/refunds/{refundId}": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "operationId": "PaymentIntents_GetRefundById",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "refundId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the refund.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Retrieves the details of a refund that has previously been created.",
        "summary": "Retrieve a refund"
      }
    },
    "/payment-intents/{paymentIntentId}/reversal": {
      "post": {
        "tags": [
          "Reversal"
        ],
        "summary": "Create a reversal",
        "description": "Reverses a payment intent.",
        "operationId": "Reversal_Create",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "paymentIntentId",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the payment intent.\n",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reversal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_GetAllWebhooks",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "List all webhooks",
        "description": "Retrieves a list of all events.",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookViewModel"
                  }
                },
                "example": [
                  {
                    "model": "PaymentIntent",
                    "events": [
                      "payment_intent.created",
                      "payment_intent.updated"
                    ]
                  },
                  {
                    "model": "Payment",
                    "events": [
                      "payment.successful"
                    ]
                  },
                  {
                    "model": "Order",
                    "events": [
                      "order.created"
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_GetAlSubscriptions",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "List all subscriptions",
        "description": "Retrieves a list of all subscriptions.",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  }
                },
                "example": [
                  {
                    "id": "ws_aNkU6yob0vOMxUlghg2oynUw",
                    "accountId": 12345,
                    "events": [
                      "payment_intent.created",
                      "payment_intent.status_updated"
                    ],
                    "url": "https://example.com.com/incoming-events",
                    "secrets": [
                      {
                        "id": "sc_qNkU6yob0vOMxUlb2oynUw",
                        "value": "U3Vic2NyaXB0aW9uUmVzcG9uc2VFeGFtcGxlIDogSUV4YW1wbGVQcm92aWRlcjxTdWJ",
                        "createdAt": "2021-12-13T14:15:01",
                        "lastUsedAt": "2021-12-16T13:44:03.3242202Z",
                        "isActive": true
                      }
                    ],
                    "createdAt": "2022-03-30T12:21:04.143Z",
                    "updatedAt": "2022-03-30T12:21:04.143Z"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_Subscribe",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "Subscribe to an event",
        "description": "Creates a new subscription.",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretsResponse"
                },
                "example": {
                  "id": "ws_lgQzejyXb0SD8oIDE2zcqA",
                  "secrets": [
                    {
                      "id": "sc_qNkU6yob0vOMxUlb2oynUw",
                      "value": "U3Vic2NyaXB0aW9uUmVzcG9uc2VFeGFtcGxlIDogSUV4YW1wbGVQcm92aWRlcjxTdWJ",
                      "createdAt": "2021-12-13T14:15:01",
                      "lastUsedAt": "2021-12-16T13:44:03.3533309Z",
                      "isActive": true
                    },
                    {
                      "id": "sc_zNkU6yob0vOMxUlb2oynUw",
                      "value": "FGswesdsaXB0aW9uUmVzcG9wbGVQcm92aWRlcjxTdWJ",
                      "createdAt": "2020-12-13T14:15:01",
                      "lastUsedAt": "2021-12-02T13:58:03.3533322Z",
                      "isActive": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{subscriptionId}/secrets": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_GetSecrets",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "List all secrets",
        "description": "Retrieves a list of all secrets.",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "description": "Unique identifier for the subscription."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretsResponse"
                },
                "example": {
                  "id": "ws_lgQzejyXb0SD8oIDE2zcqA",
                  "secrets": [
                    {
                      "id": "sc_qNkU6yob0vOMxUlb2oynUw",
                      "value": "U3Vic2NyaXB0aW9uUmVzcG9uc2VFeGFtcGxlIDogSUV4YW1wbGVQcm92aWRlcjxTdWJ",
                      "createdAt": "2021-12-13T14:15:01",
                      "lastUsedAt": "2021-12-16T13:44:03.3656144Z",
                      "isActive": true
                    },
                    {
                      "id": "sc_zNkU6yob0vOMxUlb2oynUw",
                      "value": "FGswesdsaXB0aW9uUmVzcG9wbGVQcm92aWRlcjxTdWJ",
                      "createdAt": "2020-12-13T14:15:01",
                      "lastUsedAt": "2021-12-02T13:58:03.3656159Z",
                      "isActive": false
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_GenerateSecret",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "Generate a secret",
        "description": "Generates a new secret.",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "description": "Unique identifier for the subscription."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretsResponse"
                },
                "example": {
                  "secrets": [
                    {
                      "id": "sc_qNkU6yob0vOMxUlb2oynUw",
                      "value": "U3Vic2NyaXB0aW9uUmVzcG9uc2VFeGFtcGxlIDogSUV4YW1wbGVQcm92aWRlcjxTdWJ",
                      "createdAt": "2021-12-13T14:15:01",
                      "lastUsedAt": "2021-12-16T13:44:03.3683851Z",
                      "isActive": true
                    },
                    {
                      "id": "sc_zNkU6yob0vOMxUlb2oynUw",
                      "value": "FGswesdsaXB0aW9uUmVzcG9wbGVQcm92aWRlcjxTdWJ",
                      "createdAt": "2020-12-13T14:15:01",
                      "lastUsedAt": "2021-12-02T13:58:03.3683861Z",
                      "isActive": false
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{subscriptionId}/secrets/{secretId}/activate": {
      "put": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_ActivateSecret",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "Activate a secret",
        "description": "Activates a secret.",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "description": "Unique identifier for the subscription."
          },
          {
            "name": "secretId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2,
            "description": "Unique identifier for the secret."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{subscriptionId}/secrets/{secretId}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_DeleteSecret",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "Delete a secret",
        "description": "Deletes a secret.",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "description": "Unique identifier for the subscription."
          },
          {
            "name": "secretId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2,
            "description": "Unique identifier for the secret."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{subscriptionId}": {
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_SubscribeUpdate",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "Update a webhook",
        "description": "Updates you subscription details. You can change the URL or the list of events.",
        "parameters": [
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "description": "Unique identifier for the subscription."
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionUpdateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "Webhooks_DeleteSubscriptions",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "summary": "Delete a subscription",
        "description": "Deletes a subscription.",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "description": "Unique identifier for the subscription."
          },
          {
            "name": "version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-04-07",
            "description": "API version with format yyyy-mm-dd. Current version is 2022–04–07. Today's date will always give you the latest version. "
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "scheme": "basic",
        "type": "http"
      }
    },
    "schemas": {
      "CaptureMode": {
        "type": "string",
        "title": "CaptureMode",
        "x-enumNames": [
          "Auto",
          "Manual"
        ],
        "enum": [
          "Auto",
          "Manual"
        ],
        "description": "The type of capture for the payment.",
        "default": "Auto"
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "example": {
          "value": 1000,
          "currencyCode": "GBP"
        },
        "properties": {
          "value": {
            "type": "integer",
            "description": "The amount in the minor unit, for example \"100\" for 1.00 GBP.",
            "format": "int64"
          },
          "currencyCode": {
            "type": "string",
            "description": "Three-letter currency code in [ISO 4217 alpha-3](https://en.wikipedia.org/wiki/ISO_4217) format.",
            "minLength": 1
          }
        },
        "required": [
          "value",
          "currencyCode"
        ]
      },
      "Customer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "emailAddress": {
            "type": "string",
            "description": "The customer's email address.",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "description": "The customer's phone number.",
            "nullable": true
          }
        },
        "description": "Details about the customer.",
        "title": "Customer",
        "example": {
          "emailAddress": "support@dojo.com",
          "phoneNumber": "+448000443550"
        }
      },
      "Address": {
        "type": "object",
        "additionalProperties": false,
        "example": {
          "address1": "The Brunel Building",
          "address2": "2 Canalside Walk",
          "city": "London",
          "postcode": "W2 1DG",
          "countryCode": "GB",
          "county": "UK"
        },
        "description": "Details about the address.",
        "properties": {
          "address1": {
            "type": "string",
            "description": "Address line 1 (for example, company name).",
            "nullable": true
          },
          "address2": {
            "type": "string",
            "description": "Address line 2 (for example, street, apartment, or suite).",
            "nullable": true
          },
          "address3": {
            "type": "string",
            "description": "Address line 3.",
            "nullable": true
          },
          "address4": {
            "type": "string",
            "description": "Address line 4.",
            "nullable": true
          },
          "city": {
            "type": "string",
            "description": "City, town, district, suburb, or village.",
            "example": "London",
            "nullable": true
          },
          "state": {
            "type": "string",
            "description": "State, province, or region.",
            "nullable": true
          },
          "postcode": {
            "type": "string",
            "description": "ZIP or postal code.",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "description": " Two-letter country code in [ISO 3166–1-alpha-2 format](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
            "example": "GB",
            "nullable": true
          },
          "locality": {
            "type": "string",
            "description": "Locality, can use in addition to city.",
            "nullable": true
          },
          "county": {
            "type": "string",
            "description": "County or zone.",
            "nullable": true
          }
        },
        "title": "Address"
      },
      "ShippingDetails": {
        "type": "object",
        "title": "ShippingDetails",
        "additionalProperties": false,
        "description": "Details about the shipping.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "nullable": true
          },
          "deliveryNotes": {
            "type": "string",
            "description": "The delivery notes.",
            "nullable": true
          },
          "address": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "Details about the address."
          }
        }
      },
      "TransactionSource": {
        "type": "string",
        "description": "`MOTO` if the source of the transaction is mail or phone. Otherwise, this field is null.",
        "enum": [
          "MOTO"
        ],
        "title": "TransactionSource",
        "example": null
      },
      "PaymentIntentConfigCustomerEmail": {
        "type": "object",
        "additionalProperties": false,
        "title": "PaymentIntentConfigCustomerEmail",
        "description": "",
        "properties": {
          "collectionRequired": {
            "type": "boolean",
            "description": "If has the value `true` the object will be collected.",
            "default": false
          }
        }
      },
      "PaymentIntentConfigDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "showTotal": {
            "type": "boolean",
            "description": "If has the value `true` the total will be showed."
          },
          "showReference": {
            "type": "boolean",
            "description": "If has the value true the order id  will be showed."
          }
        }
      },
      "PaymentIntentConfigBillingAddress": {
        "type": "object",
        "title": "PaymentIntentConfigBillingAddress",
        "additionalProperties": false,
        "properties": {
          "collectionRequired": {
            "type": "boolean",
            "description": "If has the value `true` the object will be collected."
          }
        }
      },
      "PaymentIntentConfigShippingDetails": {
        "type": "object",
        "title": "PaymentIntentConfigShippingDetails",
        "additionalProperties": false,
        "properties": {
          "collectionRequired": {
            "type": "boolean",
            "description": "If has the value `true` the object will be collected."
          }
        }
      },
      "PaymentConfigDetails": {
        "type": "object",
        "additionalProperties": false,
        "title": "PaymentConfigDetails",
        "properties": {
          "customAmountAllowed": {
            "type": "boolean",
            "description": "If has the value `true` the amount of the payment intent can be changed."
          },
          "tipsAllowed": {
            "type": "boolean",
            "description": "If has the value `true` tips are allowed."
          }
        }
      },
      "PaymentIntentConfig": {
        "type": "object",
        "additionalProperties": false,
        "description": "Details about the payment intent configurations.",
        "title": "PaymentIntentConfig",
        "properties": {
          "title": {
            "type": "string",
            "description": "The title of the payment intent.",
            "nullable": true
          },
          "redirectUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL where the customer will be directed to after the payment.",
            "nullable": true
          },
          "cancelUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL where the customer will be directed to when canceling the payment.",
            "nullable": true
          },
          "customerEmail": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentIntentConfigCustomerEmail"
              }
            ],
            "description": "Configuration of the client's email address."
          },
          "details": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentIntentConfigDetails"
              }
            ],
            "description": " "
          },
          "billingAddress": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentIntentConfigBillingAddress"
              }
            ],
            "description": "Configuration of the billing address."
          },
          "shippingDetails": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentIntentConfigShippingDetails"
              }
            ],
            "description": " Configuration of the shipping details."
          },
          "payment": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentConfigDetails"
              }
            ],
            "description": "Configuration of the payment."
          }
        }
      },
      "RequestSecurity": {
        "type": "object",
        "additionalProperties": false,
        "title": "RequestSecurity",
        "description": "Customer's device information.",
        "properties": {
          "userAgent": {
            "type": "string",
            "description": "The customer's browser agent.",
            "nullable": true
          },
          "ipAddress": {
            "type": "string",
            "description": "The customer's device IP address.",
            "nullable": true
          },
          "device": {
            "type": "string",
            "description": "The customer's device type.",
            "nullable": true
          }
        },
        "example": {
          "userAgent": null,
          "ipAddress": null,
          "device": null
        }
      },
      "ItemLine": {
        "type": "object",
        "title": "ItemLine",
        "additionalProperties": false,
        "description": "The item line object.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the object.",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "format": "int32",
            "description": "The quantity of items being purchased."
          },
          "caption": {
            "type": "string",
            "description": "A name of the item.",
            "nullable": true
          },
          "amountTotal": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "The total amount before applying discounts and taxes."
          }
        }
      },
      "TaxLine": {
        "type": "object",
        "title": "TaxLine",
        "additionalProperties": false,
        "description": "The tax line object.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the object.",
            "nullable": true
          },
          "caption": {
            "type": "string",
            "description": "A name of the tax.",
            "nullable": true
          },
          "subCaption": {
            "type": "string",
            "description": "A subname of the tax.",
            "nullable": true
          },
          "amountTotal": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "Total amount of taxes."
          }
        }
      },
      "PaymentMethod": {
        "type": "string",
        "description": "The payment methods that customers can use to pay.",
        "enum": [
          "Card",
          "Wallet"
        ]
      },
      "ActionType": {
        "type": "string",
        "title": "ActionType",
        "x-enumNames": [
          "OpenLink",
          "DownloadFile"
        ],
        "description": "The type of action associated with the link.",
        "enum": [
          "DownloadFile",
          "OpenLink"
        ],
        "default": "OpenLink"
      },
      "ActionLink": {
        "type": "object",
        "title": "ActionLink",
        "additionalProperties": false,
        "description": "The link to the payment's associated actions.",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "minLength": 1,
            "description": "The link URL."
          },
          "action": {
            "$ref": "#/components/schemas/ActionType"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "description": "Custom label given to the action."
          },
          "fileName": {
            "type": "string",
            "description": "Filename of the document.",
            "nullable": true
          }
        },
        "required": [
          "url",
          "label"
        ],
        "example": {
          "url": "https://docs.dojo.tech/docs/getting-started",
          "label": "docs-link"
        }
      },
      "AutoExpireAction": {
        "type": "string",
        "description": "The action that happens with this payment intent after the date set in the `autoExpireAt`parameter.\nOnly avalible if `captureMode: Manual`.",
        "x-enumNames": [
          "Release",
          "Capture"
        ],
        "enum": [
          "Release",
          "Capture"
        ]
      },
      "CreatePaymentIntentRequest": {
        "type": "object",
        "description": "The payment intent request object.",
        "additionalProperties": false,
        "title": "CreatePaymentIntentRequest",
        "properties": {
          "captureMode": {
            "description": "The type of capture for the payment.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CaptureMode"
              }
            ]
          },
          "amount": {
            "description": "The amount intended to be collected by this payment intent.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ]
          },
          "tipsAmount": {
            "description": "The tips amount.",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ]
          },
          "reference": {
            "type": "string",
            "minLength": 1,
            "description": "Details of the reference for the payment."
          },
          "description": {
            "type": "string",
            "description": "The payment description.",
            "nullable": true
          },
          "customer": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Customer"
              }
            ],
            "description": "Details about the customer."
          },
          "billingAddress": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "The address where to send the invoice."
          },
          "shippingDetails": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/ShippingDetails"
              }
            ],
            "description": "The address where to send the order."
          },
          "transactionSource": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/TransactionSource"
              }
            ],
            "description": "Information about the transaction source type."
          },
          "config": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentIntentConfig"
              }
            ],
            "description": "Details about the payment intent configuration."
          },
          "requestSecurity": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/RequestSecurity"
              }
            ],
            "description": "Customer's device information."
          },
          "itemLines": {
            "type": "array",
            "description": "The line items purchased by the customer.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ItemLine"
            }
          },
          "taxLines": {
            "type": "array",
            "description": "The taxes applied to the items.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/TaxLine"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "The payment methods that customers can use to pay.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          },
          "actionLink": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ActionLink"
              }
            ],
            "description": "The link to the payment's associated actions."
          },
          "manualAutoExpireAction": {
            "$ref": "#/components/schemas/AutoExpireAction"
          },
          "manualAutoExpireAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp of the date when this payment intent will be captured or reversed, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.\nOnly avalible if `captureMode: Manual`."
          },
          "paymentSource": {
            "type": "string",
            "description": "Information about the payment source type.",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "A set of key-value pairs that you can use for storing additional information.",
            "nullable": true
          }
        },
        "required": [
          "amount",
          "reference"
        ],
        "example": {
          "amount": {
            "value": 1000,
            "currencyCode": "GBP"
          },
          "reference": "Order 234",
          "description": "Demo payment intent"
        }
      },
      "PaymentDetails": {
        "type": "object",
        "additionalProperties": false,
        "description": "The payment details object.",
        "title": "PaymentDetails",
        "properties": {
          "transactionDateTime": {
            "type": "string",
            "description": "The date and time of the payment in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.",
            "nullable": true
          },
          "message": {
            "type": "string",
            "description": "The description of the operation.",
            "nullable": true
          },
          "authCode": {
            "type": "string",
            "description": "The acquirer authorization code.",
            "nullable": true
          },
          "cardNumber": {
            "type": "string",
            "description": "The card number.",
            "nullable": true
          },
          "cardName": {
            "type": "string",
            "description": "The name of the cardholder.",
            "nullable": true
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiry month and year. Format: MM/YY.",
            "nullable": true
          },
          "cardType": {
            "type": "string",
            "description": "The card scheme.",
            "nullable": true
          }
        }
      },
      "PaymentIntentStatus": {
        "type": "string",
        "description": "Current status of the payment intent.",
        "title": "PaymentIntentStatus",
        "enum": [
          "Created",
          "Authorized",
          "Captured",
          "Reversed",
          "Refunded",
          "Canceled"
        ]
      },
      "PaymentIntent": {
        "type": "object",
        "additionalProperties": false,
        "description": "The PaymentIntent object.",
        "title": "PaymentIntent",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment intent.\n",
            "nullable": true
          },
          "captureMode": {
            "$ref": "#/components/schemas/CaptureMode"
          },
          "transactionSource": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/TransactionSource"
              }
            ],
            "description": "Information about the transaction source type."
          },
          "clientSessionSecret": {
            "type": "string",
            "description": "The client secret.",
            "nullable": true
          },
          "clientSessionSecretExpirationDate": {
            "type": "string",
            "description": "The expiration date of `clientSessionSecret`."
          },
          "paymentDetails": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentDetails"
              }
            ],
            "description": "Details about the payment."
          },
          "status": {
            "$ref": "#/components/schemas/PaymentIntentStatus"
          },
          "paymentMethods": {
            "type": "array",
            "description": "The payment methods that customers can use to pay.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          },
          "amount": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "The amount intended to be collected by this payment intent."
          },
          "tipsAmount": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "The tips amount."
          },
          "requestedAmount": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "The amount that was requested by this Payment intent."
          },
          "totalAmount": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "The total amount after applying discounts and taxes."
          },
          "customer": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Customer"
              }
            ],
            "description": "Details about the customer."
          },
          "requestSecurity": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/RequestSecurity"
              }
            ],
            "description": "Customer's device information."
          },
          "billingAddress": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "The address where to send the invoice."
          },
          "shippingDetails": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/ShippingDetails"
              }
            ],
            "description": "The address where to send the order."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp of the create date, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp of the update date, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format."
          },
          "reference": {
            "type": "string",
            "description": "Details of the reference for the payment.",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "The payment description.",
            "nullable": true
          },
          "subtotalLineItems": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "The total amount after applying discounts and taxes."
          },
          "itemLines": {
            "type": "array",
            "description": "The line items purchased by the customer.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ItemLine"
            }
          },
          "taxLines": {
            "type": "array",
            "description": "The taxes applied to the items.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/TaxLine"
            }
          },
          "actionLink": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ActionLink"
              }
            ],
            "description": "The link to the payment's associated actions."
          },
          "config": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentIntentConfig"
              }
            ],
            "description": "Details about the payment intent configuration."
          },
          "manualAutoExpireAction": {
            "$ref": "#/components/schemas/AutoExpireAction"
          },
          "manualAutoExpireAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp of the date when this payment intent will be captured or reversed, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.\nOnly avalible if `captureMode: Manual`."
          },
          "paymentSource": {
            "type": "string",
            "description": "Information about the payment source type.",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "A set of key-value pairs that you can use for storing additional information.",
            "nullable": true
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "title": "ProblemDetails",
        "description": "",
        "properties": {
          "type": {
            "type": "string",
            "description": "A URI reference [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) that identifies the problem type."
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the error."
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "The [HTTP status code](#section/HTTP-Responses)."
          },
          "detail": {
            "type": "string",
            "nullable": true,
            "description": "A human-readable message giving more details about the error. Not always present."
          },
          "traceId": {
            "type": "string",
            "description": "The unique identifier of the failing request."
          },
          "errors": {
            "type": "object",
            "description": "A human-readable explanation of errors.",
            "additionalProperties": {}
          }
        }
      },
      "CreateCaptureRequest": {
        "type": "object",
        "description": "The capture request object.",
        "additionalProperties": false,
        "title": "CreateCaptureRequest",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount to capture. You can capture the full amount or a partial amount.",
            "format": "int64"
          }
        },
        "required": [
          "amount"
        ],
        "example": {
          "amount": 1000
        }
      },
      "Capture": {
        "type": "object",
        "description": "The capture response object.",
        "additionalProperties": false,
        "title": "Capture",
        "properties": {
          "message": {
            "type": "string",
            "description": "The description of the operation.",
            "nullable": true
          },
          "captureId": {
            "type": "string",
            "description": "Unique identifier for the capture.",
            "nullable": true
          }
        },
        "example": {
          "message": "Demo capture",
          "captureId": "cp_itIiJMEAvES3ynYF_Yhs2g"
        }
      },
      "Cursor": {
        "type": "object",
        "additionalProperties": false,
        "description": "A cursor for use in pagination. ",
        "properties": {
          "limit": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "example": 20,
            "default": 50,
            "description": "The maximum number of results to be returned in a single page."
          },
          "before": {
            "type": "string",
            "description": "A cursor for use in pagination for the previous page. `before` and `after` are mutually exclusive - only one of these may be used.",
            "nullable": true
          },
          "after": {
            "type": "string",
            "description": "A cursor for use in pagination for the next page. `before` and `after` are mutually exclusive - only one of these may be used.",
            "nullable": true
          }
        }
      },
      "SearchPaymentIntentRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "paymentSource": {
            "type": "string",
            "description": "Information about the payment source type.",
            "nullable": true
          },
          "statuses": {
            "type": "array",
            "description": "Statuses of payment intents.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/PaymentIntentStatus"
            }
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time from which to search, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time until which to search in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) UTC format.",
            "nullable": true
          },
          "cursor": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Cursor"
              }
            ],
            "description": "A cursor for use in pagination. "
          }
        },
        "example": {
          "statuses": [
            "Created"
          ],
          "startDate": "2019-08-24T14:15:22Z",
          "endDate": "2023-08-24T14:15:22Z",
          "cursor": {
            "limit": 20
          }
        }
      },
      "PagedResultOfPaymentIntent": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "description": " ",
            "items": {
              "$ref": "#/components/schemas/PaymentIntent"
            }
          },
          "before": {
            "type": "string",
            "description": "A cursor for use in pagination for the previous page. `before` and `after` are mutually exclusive - only one of these may be used.",
            "nullable": true
          },
          "after": {
            "type": "string",
            "description": "A cursor for use in pagination for the next page. `before` and `after` are mutually exclusive - only one of these may be used.",
            "nullable": true
          }
        }
      },
      "PagedPaymentIntent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PagedResultOfPaymentIntent"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "SetTipsAmountRequest": {
        "description": "The tips amount.",
        "type": "object",
        "properties": {
          "tipsAmount": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "The tips amount."
          }
        },
        "required": [
          "tipsAmount"
        ],
        "example": {
          "tipsAmount": {
            "value": 500,
            "currencyCode": "GBP"
          }
        }
      },
      "SetAmountRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "",
        "properties": {
          "amount": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "The amount intended to be collected by this payment intent."
          }
        },
        "required": [
          "amount"
        ],
        "example": {
[...]
