openapi: 3.0.0
info:
  title: Dojo API
  version: '2025-09-10'
  description: |
    # Introduction

    The Dojo API is a REST API, using HTTP response codes to convey status, including successful responses and errors. Additionally, it accepts and returns JSON in the HTTP body.
    For information on the latest development progress, visit the [changelog](../changelog).

    ## Base URLs

    Use the following base URL when making requests to the API:  https://api.dojo.tech/

    ## Authentication

    The Dojo API uses [Basic HTTP authentication](https://en.wikipedia.org/wiki/Basic_access_authentication). You can generate API keys in the [Developer Portal](https://developer.dojo.tech).
    Secret keys for the test environment use the prefix `sk_sandbox_`. Production keys use the prefix `sk_prod_`.

    You must include your secret API key in the header of all requests, for example:

    ```curl
      --header 'content-type: application/json' \
      --header 'Authorization: Basic sk_prod_your_key' \
    ```

    API requests without authentication will fail.

    ## Additional Required Headers

    The following headers are required on Terminal and Terminal Sessions API requests, requests without them will fail.

    - `reseller-id` - Identifies the reseller who sells software on behalf of the EPOS company. This value will be unique and provided by Dojo to each reseller.
    - `software-house-id` - Identifies the EPOS company whose software is generating the request. This value shouldn't be configurable, as it will remain the same for all customers using particular EPOS software. This value will be provided by Dojo.

    ## HTTP Responses

    The API returns standard HTTP response codes [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6) on each request to indicate the success or otherwise of API requests. Summaries for each HTTP code are listed below:

    * `200 OK`—The request was successful.

    * `201 Created`—The request was successful, and a new resource was created as a result.

    * `204 No Content`—The request was successful, but there is no content to send.

    * `400 Bad Request`—Bad request, probably due to a syntax error.

    * `401 Unauthorized`—Authentication required.

    * `403 Forbidden`—The API key doesn't have permissions.

    * `404 Not Found`—The resource doesn't exist.

    * `405 Method Not Allowed`—The request method is known by the server but isn't supported by the target resource.

    * `409 Conflict`—The request couldn't be completed because it conflicted with another request or the server's configuration.

    * `500`, `502`, `503`, `504` `Server Errors`—An error occurred with our API.

    ## Errors

    Dojo follows the error response format proposed in [RFC 7807](https://tools.ietf.org/html/rfc7807), also known as Problem Details for HTTP APIs. All errors are returned in the form of JSON.

    ### Error Schema

    In case of an error, the response object contains the following fields:

    * `errors` [object]—A human-readable explanation of errors.

    * `type` [string]—
    A URI reference RFC 3986 that identifies the problem type.

    * `title` [string]—A short, human-readable summary of the error.

    * `status` [integer]—The HTTP status code.

    * `detail` [string]—A human-readable message giving more details about the error. Not always present.

    * `traceId` [string]—The unique identifier of the failing request.

    The following example shows a possible error response:

    ```json
    {
        "errors": {
            "Reference": [
                "The Reference field is required."
            ]
        },
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.1",
        "title": "One or more validation errors occurred.",
        "status": 400,
        "traceId": "00-a405f077df056a498323ffbcec05923f-aa63e6f4dbbc734a-01",
    }
    ```

    ## Versioning

    Dojo APIs use the yyyy-mm-dd API version-naming scheme. You have to pass the version as the `version` header in all API calls, for example:

    ``` curl
      --header 'content-type: application/json' \
      --header 'Authorization: Basic sk_prod_your_key' \
      --header 'version: 2025-09-10' \
    ```

    When we make [breaking changes](../development-resources/versioning-overview#breaking-changes) to the API, we release new dated versions.

    The current version is `2025-09-10`.

    ## SDKs
    Use our PHP, .NET, and mobile [client libraries](/development-resources/sdk) to build your integration.

    ## Code Samples

    Get help in building your integration with our [code samples](/development-resources/code-samples).
  termsOfService: https://dojo.tech/legal/
  contact:
    name: Dojo Developer Experience Team
servers:
  - url: https://api.dojo.tech
security:
  - ApiKeyAuth: []
tags:
  - name: Payment intents
    description: |-
      Allows you to take and manage payments.

      **Documentation**: [Payment intents](../../payments/manage-payments/payment-intent)
  - name: Refunds
    description: |-
      Allows you to create a refund for a captured payment.


        **Documentation**: [Refunds](/payments/manage-payments/cancelling-payments/refund)
  - name: Reversal
    description: |-
      Allows you to create a reversal for payments.

      **Documentation**: [Reversal](../../payments/manage-payments/cancelling-payments/reversal)
  - name: Captures
    description: |-
      Allows you to capture the full payment amount or part of the amount.

      **Documentation**: [Captures](../../payments/manage-payments/capture)
  - name: Webhooks
    description: |-
      Webhooks notify you when a specific event has occurred.

      **Documentation**: [Webhooks](../../development-resources/webhooks)
  - name: Customers
    description: Allows to create and manage a customer of your business.
  - name: Setup intents
    description: |-
      Allows you to setup a card for future payments.

      **Documentation**: [Setup intent](../payments/manage-payments/setup-intent)
  - name: Terminals
    description: |-
      Allows you to manage payments on the terminal.
      **Documentation**: [Terminals](../payments/accept-payments/in-person-payments/pay-at-counter/terminals)
  - name: Terminal sessions
    description: Allows you to manage sessions on the terminal.
  - name: Capabilities
    description: Register your REST and WebSockets endpoints.
paths:
  /payment-intents:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentIntentRequest'
            examples:
              Auto:
                value:
                  amount:
                    value: 1000
                    currencyCode: GBP
                  reference: Order 234
                  description: Demo payment intent
                  captureMode: Auto
              Manual:
                value:
                  amount:
                    value: 1000
                    currencyCode: GBP
                  reference: Order 234
                  description: Demo payment intent
                  captureMode: Manual
                  AutoExpireAction: Capture
                  AutoExpireIn: '00:00:55'
        required: true
        x-name: createPaymentIntentRequest
        x-position: 1
      tags:
        - Payment intents
      parameters:
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
              examples:
                Auto:
                  value:
                    id: pi_sandbox_G_FeegU8WESxtY_Nct8jqw
                    captureMode: Auto
                    cardHolderNotPresent: false
                    clientSessionSecretExpirationDate: '0001-01-01T00:00:00Z'
                    status: Created
                    paymentMethods:
                      - Card
                    amount:
                      value: 1000
                      currencyCode: GBP
                    totalAmount:
                      value: 1000
                      currencyCode: GBP
                    refundedAmount: 0
                    createdAt: '2024-04-07T23:25:44.802258Z'
                    updatedAt: '2024-04-07T23:25:44.802258Z'
                    reference: Order 234
                    description: Demo payment intent
                    itemLines: []
                    taxLines: []
                    merchantConfig:
                      supportedPaymentMethods:
                        cardSchemes:
                          - VISA
                          - MASTERCARD
                          - MAESTRO
                          - DISCOVER
                          - DCI
                        wallets:
                          - APPLE_PAY
                          - GOOGLE_PAY
                    config:
                      branding: {}
                      tradingName: Cam Test Ltd
                    paymentSource: api
                    expireAt: '2024-05-07T23:25:44.8023189Z'
                    metadata:
                      location-id: rpl_bOppxLvOEsS
                    paymentEvents: []
                    paymentLink: https://pay.dojo.tech:443/checkout/pi_sandbox_G_FeegU8WESxtY_Nct8jqw
                    terminalSessionHistory: []
                Manual:
                  value:
                    id: pi_sandbox_LXGmW_Rlv0CN5WlBimQg5A
                    captureMode: Manual
                    cardHolderNotPresent: false
                    clientSessionSecretExpirationDate: '0001-01-01T00:00:00Z'
                    status: Created
                    paymentMethods:
                      - Card
                    amount:
                      value: 1000
                      currencyCode: GBP
                    totalAmount:
                      value: 1000
                      currencyCode: GBP
                    refundedAmount: 0
                    createdAt: '2024-04-07T23:24:53.3770815Z'
                    updatedAt: '2024-04-07T23:24:53.3770816Z'
                    reference: Order 234
                    description: Demo payment intent
                    itemLines: []
                    taxLines: []
                    merchantConfig:
                      supportedPaymentMethods:
                        cardSchemes:
                          - VISA
                          - MASTERCARD
                          - MAESTRO
                          - DISCOVER
                          - DCI
                        wallets:
                          - APPLE_PAY
                          - GOOGLE_PAY
                    config:
                      branding: {}
                      tradingName: Cam Test Ltd
                    paymentSource: api
                    autoExpireAction: Capture
                    expireAt: '2024-05-07T23:24:53.3771391Z'
                    autoExpireIn: '00:00:55'
                    metadata:
                      location-id: rpl_bOppxLvOEsS
                    paymentEvents: []
                    paymentLink: https://pay.dojo.tech:443/checkout/pi_sandbox_LXGmW_Rlv0CN5WlBimQg5A
                    terminalSessionHistory: []
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
      operationId: PaymentIntents_CreatePaymentIntent
      summary: Create a payment intent
      description: Creates a payment intent.
  /payment-intents/{paymentIntentId}:
    get:
      tags:
        - Payment intents
      parameters:
        - example: pi_sandbox_RBMHTJ4fIkmSppDILZVCGw
          name: paymentIntentId
          description: |
            The unique identifier of the payment intent.
          schema:
            type: string
            nullable: true
          in: path
          required: true
          x-position: 1
        - name: returnCanceled
          description: If the value is `true`, and the payment intent being retrieved has a status of `Canceled`, the payment intent will be returned in the response. Otherwise a 404 (not found) status code will be returned.
          schema:
            type: boolean
            nullable: false
          in: query
          required: false
          x-position: 2
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
              example:
                id: pi_sandbox_S_zeCMipQkSG9fFmqS-ceQ
                captureMode: Auto
                cardHolderNotPresent: false
                clientSessionSecret: bHte6dGrBuOoMwOgKGG3X3s2HFKERz3rbZ2SLD-H_BU_1wy-b3IgRCIUtgm7pZXh1QJC70slbaaNvm0XUcZ7T3UL8LRUMz5HK529D23ITvv_QaeIbrV8nI6Y-pxeDuqn444VqHAEok7Ue0Wsg5HgXz327lXV_A==
                clientSessionSecretExpirationDate: '2024-07-25T09:19:10Z'
                paymentDetails:
                  transactionId: 19e4535e-ef6e-48e2-90be-d2b313c1cefd
                  transactionDateTime: '2024-07-25T08:49:20.973410318Z'
                  message: DEPOSITED
                  authCode: '123456'
                  card:
                    cardNumber: 44565300****1096
                    cardName: test
                    expiryDate: '2024-12-31'
                    cardType: VISA
                    cardFundingType: Unknown
                    entryMode: Contactless
                    verificationMethod: Pin
                  avsResult: ADDRESS_MATCH_POSTCODE_MATCH
                status: Captured
                paymentMethods:
                  - Card
                amount:
                  value: 1000
                  currencyCode: GBP
                totalAmount:
                  value: 1000
                  currencyCode: GBP
                refundedAmount: 0
                billingAddress:
                  address1: ''
                  address2: ''
                  address3: ''
                  address4: ''
                  city: ''
                  state: ''
                  postcode: ''
                  countryCode: ''
                shippingDetails:
                  name: ''
                  address:
                    address1: ''
                    address2: ''
                    address3: ''
                    address4: ''
                    city: ''
                    state: ''
                    postcode: ''
                    countryCode: ''
                createdAt: '2024-07-25T08:48:38.497Z'
                updatedAt: '2024-07-25T08:49:24.761Z'
                reference: Order 234
                description: Demo payment intent
                itemLines: []
                taxLines: []
                merchantConfig:
                  supportedPaymentMethods:
                    cardSchemes:
                      - VISA
                      - MASTERCARD
                      - MAESTRO
                      - DISCOVER
                      - DCI
                      - AMEX
                    wallets:
                      - APPLE_PAY
                      - GOOGLE_PAY
                config:
                  branding: {}
                  tradingName: I DIM SUM
                paymentSource: api
                expireAt: '2024-08-24T08:48:38.498Z'
                metadata:
                  location-id: '202059233225269'
                paymentEvents:
                  - transactionId: 19e4535e-ef6e-48e2-90be-d2b313c1cefd
                    transactionDateTime: '2024-07-25T08:49:20.973410318Z'
                    eventType: AuthChallenged
                    authCode: ''
                    cardNumber: 44565300****1096
                    expiryDate: '2024-12-31'
                    cardType: VISA
                    cardholderName: test
                    paymentMethodId: ''
                  - transactionId: 19e4535e-ef6e-48e2-90be-d2b313c1cefd
                    transactionDateTime: '2024-07-25T08:49:20.973410318Z'
                    eventType: Captured
                    authCode: '123456'
                    cardNumber: 44565300****1096
                    expiryDate: '2024-12-31'
                    cardType: VISA
                    cardholderName: test
                    paymentMethodId: ''
                paymentLink: https://pay.dojo.tech:443/checkout/pi_sandbox_S_zeCMipQkSG9fFmqS-ceQ
                terminalSessionHistory: []
                captures: []
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not found
      operationId: PaymentIntents_Get
      summary: Retrieve a payment intent
      description: Retrieves the details of a payment intent.
    delete:
      tags:
        - Payment intents
      parameters:
        - $ref: '#/components/parameters/Version'
        - example: pi_sandbox_RBMHTJ4fIkmSppDILZVCGw
          name: paymentIntentId
          description: |
            The unique identifier of the payment intent.
          schema:
            type: string
            nullable: true
          in: path
          required: true
          x-position: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
              example:
                id: pi_sandbox_6p477TZOmECe5zUHszJCCg
                captureMode: Auto
                clientSessionSecret: DIi9C5SJTyI4V62Eqw00_vD47U3fmFsFSRVvuY--gTRVMb1TxCmudI0Nl4GUTEHTxzwWGqIkYEXQ7aWgwZFC4rmPE8gTLN_rxGeqpihGm1YvSiuKQTREQW50TmDKUMxklbqnenGvnjdKruNFhpBFQBXR-Ni_8g==
                clientSessionSecretExpirationDate: '2024-02-13T02:55:34Z'
                status: Canceled
                paymentMethods:
                  - Card
                amount:
                  value: 1000
                  currencyCode: GBP
                totalAmount:
                  value: 1000
                  currencyCode: GBP
                refundedAmount: 0
                createdAt: '2024-02-13T02:25:34.17Z'
                updatedAt: '2024-02-13T02:25:34.17Z'
                reference: Order 234
                description: Demo payment intent
                itemLines: []
                taxLines: []
                merchantConfig:
                  supportedPaymentMethods:
                    cardSchemes:
                      - VISA
                      - MASTERCARD
                      - MAESTRO
                      - DISCOVER
                      - DCI
                      - AMEX
                    wallets:
                      - APPLE_PAY
                      - GOOGLE_PAY
                config:
                  branding:
                    logoUrl: https://cdn.dojo.tech/payments/branding/logos/acc_wrr9HHrH10KHXtVxfWNPHw/file_y-_CuT9RLkKK2vvvLaGeUw/90395f2a-029e-4f23-afdb-258bdbb1002b.png
                    faviconUrl: https://cdn.dojo.tech/payments/branding/favicons/acc_wrr9HHrH10KHXtVxfWNPHw/file_v7EuxUbMmkCUMm7lP9PIgg/dojo.png
                  tradingName: Dojo Cafe (Paymentsense)
                paymentSource: api
                expireAt: '2024-03-14T02:25:34.17Z'
                metadata:
                  location-id: '771402011592305'
                paymentEvents: []
                paymentLink: https://pay.dojo.tech:443/checkout/pi_sandbox_6p477TZOmECe5zUHszJCCg
                terminalSessionHistory: []
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not found
      operationId: PaymentIntents_Delete
      summary: Cancel a payment intent
      description: Cancels a payment intent. If a payment intent's status is `Created`, it can be canceled. After cancellation, the payment intent status will change to `Canceled` and any operations will fail with an error.
  /payment-intents/{paymentIntentId}/captures:
    post:
      tags:
        - Captures
      summary: Captures a payment
      description: Captures a payment intent that has previously been created but not yet refunded or reversed. You can capture the full amount or a partial amount.
      operationId: Captures_Create
      parameters:
        - name: version
          $ref: '#/components/parameters/Version'
        - name: paymentIntentId
          in: path
          required: true
          description: |
            The unique identifier of the payment intent.
          schema:
            type: string
            nullable: true
          x-position: 1
          example: pi_sandbox_RBMHTJ4fIkmSppDILZVCGw
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCaptureRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capture'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /payment-intents/{paymentIntentId}/charge:
    post:
      tags:
        - Payment intents
      summary: Charge a card
      operationId: PaymentIntents_ChargePaymentIntent
      description: Allows you to charge a card later. This is available for merchant-initiated transactions only.
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: paymentIntentId
          in: path
          required: true
          schema:
            type: string
            nullable: true
          description: |
            The unique identifier of the payment intent.
          x-position: 3
          example: pi_sandbox_RBMHTJ4fIkmSppDILZVCGw
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeResponse'
              example:
                paymentIntentId: pi_sandbox_TRVit9jxx0KLSVW48a-K_w
                status: Successful
                message: DEPOSITED
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /payment-intents/{paymentIntentId}/refresh-client-session-secret:
    post:
      tags:
        - Payment intents
      operationId: PaymentIntents_RefreshClientSessionSecret
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: paymentIntentId
          in: path
          required: true
          schema:
            type: string
            nullable: true
          description: |
            The unique identifier of the payment intent.
          x-position: 1
          example: pi_sandbox_RBMHTJ4fIkmSppDILZVCGw
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
              example:
                id: pi_sandbox_H8tBljY-O0GZZpHA-kC8UQ
                captureMode: Auto
                clientSessionSecret: y4I5IegbtuzHR-tLn4S4ONlK0felINimLd_a2x_y3h1zwKTXFRowSZG3amVGmaRBxxCqy7ynJhh8IN9mMwEpFeUPZKJyMWEFPPAmAJ8_5pPtaK11SPvUg-WT2erSkT-e34oo4dwrsBx6igxEPBCEV-OBBu74HA==
                clientSessionSecretExpirationDate: '2024-02-13T14:50:28Z'
                status: Created
                paymentMethods:
                  - Card
                amount:
                  value: 1000
                  currencyCode: GBP
                totalAmount:
                  value: 1000
                  currencyCode: GBP
                refundedAmount: 0
                createdAt: '2024-02-13T14:20:14.418Z'
                updatedAt: '2024-02-13T14:20:28.2961052Z'
                reference: Order 234
                description: Demo payment intent
                itemLines: []
                taxLines: []
                merchantConfig:
                  supportedPaymentMethods:
                    cardSchemes:
                      - VISA
                      - MASTERCARD
                      - MAESTRO
                      - DISCOVER
                      - DCI
                      - AMEX
                    wallets:
                      - APPLE_PAY
                      - GOOGLE_PAY
                config:
                  branding:
                    logoUrl: https://cdn.dojo.tech/payments/branding/logos/acc_wrr9HHrH10KHXtVxfWNPHw/file_y-_CuT9RLkKK2vvvLaGeUw/90395f2a-029e-4f23-afdb-258bdbb1002b.png
                    faviconUrl: https://cdn.dojo.tech/payments/branding/favicons/acc_wrr9HHrH10KHXtVxfWNPHw/file_v7EuxUbMmkCUMm7lP9PIgg/dojo.png
                  tradingName: Dojo Cafe (Paymentsense)
                paymentSource: api
                expireAt: '2024-03-14T14:20:14.418Z'
                metadata:
                  location-id: '771402011592305'
                paymentEvents: []
                paymentLink: https://pay.dojo.tech:443/checkout/pi_sandbox_H8tBljY-O0GZZpHA-kC8UQ
                terminalSessionHistory: []
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Update a client session secret
      description: Updates a client session secret if the current secret key has been consumed or expired. These tokens are one-time use only. If you need to retry a payment, you must generate a new token.
  /payment-intents/search:
    post:
      tags:
        - Payment intents
      operationId: PaymentIntents_Search
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchPaymentIntentRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedPaymentIntent'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      parameters:
        - $ref: '#/components/parameters/Version'
      summary: List all payment intents
      description: |-
        Retrieves a list of payment intents.
        Results are paginated. By default, the method returns up to 50 payment intents.
  /payment-intents/{paymentIntentId}/tips-amount:
    post:
      tags:
        - Payment intents
      operationId: PaymentIntents_SetTipsAmount
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: paymentIntentId
          in: path
          required: true
          description: |
            The unique identifier of the payment intent.
          schema:
            type: string
            nullable: true
          x-position: 1
          example: pi_sandbox_RBMHTJ4fIkmSppDILZVCGw
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetTipsAmountRequest'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
              example:
                id: pi_sandbox_G_FeegU8WESxtY_Nct8jqw
                captureMode: Auto
                cardHolderNotPresent: false
                clientSessionSecretExpirationDate: '0001-01-01T00:00:00Z'
                status: Created
                paymentMethods:
                  - Card
                amount:
                  value: 1000
                  currencyCode: GBP
                totalAmount:
                  value: 1000
                  currencyCode: GBP
                refundedAmount: 0
                createdAt: '2024-04-07T23:25:44.802258Z'
                updatedAt: '2024-04-07T23:25:44.802258Z'
                reference: Order 234
                description: Demo payment intent
                itemLines: []
                taxLines: []
                merchantConfig:
                  supportedPaymentMethods:
                    cardSchemes:
                      - VISA
                      - MASTERCARD
                      - MAESTRO
                      - DISCOVER
                      - DCI
                    wallets:
                      - APPLE_PAY
                      - GOOGLE_PAY
                config:
                  branding: {}
                  tradingName: Cam Test Ltd
                paymentSource: api
                expireAt: '2024-05-07T23:25:44.8023189Z'
                metadata:
                  location-id: rpl_bOppxLvOEsS
                paymentEvents: []
                paymentLink: https://pay.dojo.tech:443/checkout/pi_sandbox_G_FeegU8WESxtY_Nct8jqw
                terminalSessionHistory: []
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Change tips amount
      description: |-
        Changes tip amount for a payment intent. Available if you enabled tipping when creating the payment intent.
        <!-- Check if tips or gratuity exists>
  /payment-intents/{paymentIntentId}/amount:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAmountRequest'
        required: true
        x-name: request
        x-position: 2
      tags:
        - Payment intents
      parameters:
        - $ref: '#/components/parameters/Version'
        - example: pi_sandbox_RBMHTJ4fIkmSppDILZVCGw
          name: paymentIntentId
          description: |
            The unique identifier of the payment intent.
          schema:
            type: string
            nullable: true
          in: path
          required: true
          x-position: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
              example:
                id: pi_sandbox_xt4SwkRZ60moZFWJ9iOKrw
                captureMode: Auto
                cardHolderNotPresent: false
                clientSessionSecret: NoK0mY76TgasoZdQ-X9xDZ3jYGDq1lMg0frwxbOVMz2xXqbRzpseN6dXtoMOzjDZVz82Y0C2xGLj4Zys1PZqu1u7F4mj9fV9aK7C7fQn90tIyp3sM3ws0U8mpgfbPc4WPAxYo8BFHkZ2PggnaUH-vL00kDbreg==
                clientSessionSecretExpirationDate: '2024-04-10T23:23:13Z'
                status: Created
                paymentMethods:
                  - Card
                amount:
                  value: 5500
                  currencyCode: GBP
                requestedAmount:
                  value: 1000
                  currencyCode: GBP
                totalAmount:
                  value: 5500
                  currencyCode: GBP
                refundedAmount: 0
                createdAt: '2024-04-10T22:52:58.037Z'
                updatedAt: '2024-04-10T22:53:13.6644908Z'
                reference: Order 234
                description: Demo payment intent
                itemLines: []
                taxLines: []
                merchantConfig:
                  supportedPaymentMethods:
                    cardSchemes:
                      - VISA
                      - MASTERCARD
                      - MAESTRO
                      - DISCOVER
                      - DCI
                      - AMEX
                    wallets:
                      - APPLE_PAY
                      - GOOGLE_PAY
                config:
                  payment:
                    customAmountAllowed: true
                    tipsAllowed: true
                  branding:
                    logoUrl: https://cdn.dojo.tech/payments/branding/logos/acc_wrr9HHrH10KHXtVxfWNPHw/file_y-_CuT9RLkKK2vvvLaGeUw/90395f2a-029e-4f23-afdb-258bdbb1002b.png
                    faviconUrl: https://cdn.dojo.tech/payments/branding/favicons/acc_wrr9HHrH10KHXtVxfWNPHw/file_v7EuxUbMmkCUMm7lP9PIgg/dojo.png
                  tradingName: Dojo Cafe (Paymentsense)
                paymentSource: api
                expireAt: '2024-05-10T22:52:58.037Z'
                metadata:
                  location-id: '771402011592305'
                paymentEvents: []
                paymentLink: https://pay.dojo.tech:443/checkout/pi_sandbox_xt4SwkRZ60moZFWJ9iOKrw
                terminalSessionHistory: []
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Method not allowed
      operationId: PaymentIntents_SetCustomAmount
      summary: Change a payment intent amount
      description: Changes the payment intent's amount. Available if you allow amount changes when creating the intent.
  /payment-intents/{paymentIntentId}/receipt:
    post:
      tags:
        - Payment intents
      summary: Send a receipt
      description: Sends a receipt to the email addresses you specified.
      operationId: Receipt_Create
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: paymentIntentId
          in: path
          required: true
          description: |
            The unique identifier of the payment intent.
          schema:
            type: string
            nullable: true
          x-position: 1
          example: pi_sandbox_RBMHTJ4fIkmSppDILZVCGw
      responses:
        '204':
          description: Payment receipt requested successfully.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailReceiptRequest'
        description: The email receipt request body.
    parameters:
      - schema:
          type: string
        name: paymentIntentId
        in: path
        required: true
  /payment-intents/{paymentIntentId}/refunds:
    post:
      tags:
        - Refunds
      summary: Create a refund
      description: |
        Creates a refund. Refund allows you to return a payment that has previously been created as long as there have been no incremental payments or payment attempts, including unsuccessful payment attempts. You can refund the full amount or a partial amount.
      operationId: Refunds_Create
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: paymentIntentId
          in: path
          required: true
          description: |
            The unique identifier of the payment intent.
          schema:
            type: string
            nullable: true
          x-position: 1
        - name: idempotencyKey
          x-originalName: idempotencyKey
          in: header
          required: true
          description: |
            An idempotency key is used to recognize subsequent retries of the same request. How you generate the idempotency key is up to you. The key must be unique for each new refund processed on the payment intent.
          schema:
            type: string
            nullable: true
            maxLength: 100
          x-position: 2
      requestBody:
        x-name: createRefundRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /payment-intents/refunds/{refundId}:
    get:
      tags:
        - Refunds
      operationId: PaymentIntents_GetRefundById
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: refundId
          in: path
          required: true
          description: A unique identifier for the refund. It will be used to reference this refund in all operations. It is recommended to use a UUID.
          schema:
            type: string
            nullable: true
            maxLength: 50
          x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      description: Retrieves the details of a refund that has previously been created.
      summary: Retrieve a refund
  /payment-intents/{paymentIntentId}/reversal:
    post:
      tags:
        - Reversal
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: paymentIntentId
          description: |
            The unique identifier of the payment intent.
          schema:
            type: string
            nullable: true
          in: path
          required: true
          x-position: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reversal'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Conflict
      operationId: Reversal_Create
      summary: Create a reversal
      description: Reverses a payment intent.
  /setup-intents:
    post:
      tags:
        - Setup intents
      operationId: SetupIntents_Create
      summary: Create a setup intent
      parameters:
        - $ref: '#/components/parameters/Version'
      description: Creates a setup intent.
      requestBody:
        x-name: createSetupIntentRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSetupIntentRequest'
            example:
              reference: Dojo Cafe | Booking request for Table 4
              merchantInitiatedTransactionType: NoShow
              terms: In case of no-show, the customer authorizes us to charge their card with table booking fee.
              intendedAmount:
                value: '1000'
                currencyCode: GBP
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntentResponse'
              example:
                setupEvents: []
                id: si_sandbox_c9RbgPcWbkGcUIbsFSzHcA
                clientSessionSecret: SSd_gFOCjTlpbMyE7A6Pl2MaosE2HObXhC-HnRpIMUR_kdOPsGDaVi_1QMpsl60edYxLtxBmHQZ88SxsabWg5KiNrU-kiZ9Zjdloht_8TWy_rrTF8FqXJwXTil6rgqCSG2dczrQhMpuuTmo2O20sVCaZ119WWA==
                clientSessionSecretExpirationDate: '2024-02-13T12:37:31Z'
                status: Created
                paymentMethods:
                  - Card
                createdAt: '2024-02-13T12:07:31.4793099Z'
                updatedAt: '2024-02-13T12:07:31.47931Z'
                reference: Dojo Cafe | Booking request for Table 4
                merchantConfig:
                  supportedPaymentMethods:
                    cardSchemes:
                      - VISA
                      - MASTERCARD
                      - MAESTRO
                      - DISCOVER
                      - DCI
                    wallets: []
                config:
                  branding:
                    logoUrl: https://cdn.dojo.tech/payments/branding/logos/acc_wrr9HHrH10KHXtVxfWNPHw/file_y-_CuT9RLkKK2vvvLaGeUw/90395f2a-029e-4f23-afdb-258bdbb1002b.png
                    faviconUrl: https://cdn.dojo.tech/payments/branding/favicons/acc_wrr9HHrH10KHXtVxfWNPHw/file_v7EuxUbMmkCUMm7lP9PIgg/dojo.png
                  tradingName: Dojo Cafe (Paymentsense)
                metadata:
                  location-id: '771402011592305'
                intendedAmount:
                  value: 1000
                  currencyCode: GBP
                merchantInitiatedTransactionType: NoShow
                terms: In case of no-show, the customer authorizes us to charge their card with table booking fee.
                paymentSource: api
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /setup-intents/{setupIntentId}:
    get:
      tags:
        - Setup intents
      operationId: SetupIntents_GetById
      summary: Retrieve a setup intent
      parameters:
        - name: setupIntentId
          in: path
          required: true
          schema:
            type: string
            nullable: true
          description: The unique identifier for the setup intent.
          x-position: 3
        - $ref: '#/components/parameters/Version'
      description: Get a setup intent by ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntentResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    delete:
      tags:
        - Setup intents
      summary: Cancel a setup intent
      operationId: SetupIntents_Delete
      parameters:
        - name: setupIntentId
          in: path
          required: true
          schema:
            type: string
            maxLength: 50
            nullable: true
          description: The unique identifier for the setup intent.
        - name: version
          in: header
          required: true
          schema:
            type: string
            format: date
            nullable: false
          description: The API version with format yyyy-mm-dd. The current version is `2025-09-10`.
      description: Cancels a setup intent.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntentResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal server error
  /setup-intents/public/{setupIntentId}:
    get:
      tags:
        - Setup intents
      operationId: SetupIntents_GetPublicById
      summary: Retrieve a setup intent (no auth)
      parameters:
        - name: setupIntentId
          in: path
          required: true
          schema:
            type: string
            nullable: true
          description: The unique identifier for the setup intent.
          x-position: 1
        - $ref: '#/components/parameters/Version'
      description: Get a setup intent by ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntentPublicResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /setup-intents/{setupIntentId}/refresh-client-session-secret:
    post:
      tags:
        - Setup intents
      operationId: SetupIntents_RefreshPaymentIntentToken
      summary: Update a client session secret
      parameters:
        - name: setupIntentId
          in: path
          required: true
          schema:
            type: string
            nullable: true
          description: The unique identifier for the setup intent.
        - $ref: '#/components/parameters/Version'
      description: Updates a client session secret.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntentResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /setup-intents/public/{setupIntentId}/refresh-client-session-secret:
    post:
      tags:
        - Setup intents
      operationId: SetupIntents_RefreshSetupIntentTokenPublic
      summary: Update a client session secret (no auth)
      parameters:
        - name: setupIntentId
          in: path
          required: true
          schema:
            type: string
            nullable: true
          description: The unique identifier for the setup intent.
          x-position: 1
        - $ref: '#/components/parameters/Version'
      description: Updates a client session secret.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupIntentPublicResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /webhooks/events:
    get:
      tags:
        - Webhooks
      operationId: Webhooks_GetAllWebhooks
      summary: List all events
      description: Retrieves a list of all events.
      parameters:
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEvents'
              example:
                - model: PaymentIntent
                  events:
                    - payment_intent.created
                    - payment_intent.updated
                - model: Payment
                  events:
                    - payment.successful
                - model: Order
                  events:
                    - order.created
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhooks:
    get:
      tags:
        - Webhooks
      operationId: Webhooks_GetAlSubscriptions
      summary: List all subscriptions
      description: Retrieves a list of all subscriptions.
      parameters:
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
                example:
                  id: ws_aNkU6yob0vOMxUlghg2oynUw
                  accountId: acc_4z3k2xP17e1JQY
                  events:
                    - payment_intent.created
                    - payment_intent.status_updated
                  url: https://example.com.com/incoming-events
                  description: Demo Webhooks
                  secrets:
                    - id: sc_qNkU6yob0vOMxUlb2oynUw
                      value: U3Vic2NyaXB0aW9uUmVzcG9uc2VFeGFtcGxlIDogSUV4YW1wbGVQcm92aWRlcjxTdWJ
                      createdAt: '2023-12-13T14:15:01'
                      lastUsedAt: '2023-12-16T13:44:03.3242202Z'
                      isActive: true
                  createdAt: '2023-03-30T12:21:04.143Z'
                  updatedAt: '2023-03-30T12:21:04.143Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Webhooks
      operationId: Webhooks_Subscribe
      summary: Subscribe to an event
      description: Creates a new subscription.
      parameters:
        - $ref: '#/components/parameters/Version'
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: ws_aNkU6yob0vOMxUlghg2oynUw
                accountId: acc_4z3k2xP17e1JQY
                events:
                  - payment_intent.created
                  - payment_intent.status_updated
                url: https://example.com.com/incoming-events
                description: Demo Webhooks
                secrets:
                  - id: sc_qNkU6yob0vOMxUlb2oynUw
                    value: U3Vic2NyaXB0aW9uUmVzcG9uc2VFeGFtcGxlIDogSUV4YW1wbGVQcm92aWRlcjxTdWJ
                    createdAt: '2023-12-13T14:15:01'
                    lastUsedAt: '2023-12-16T13:44:03.3242202Z'
                    isActive: true
                createdAt: '2023-03-30T12:21:04.143Z'
                updatedAt: '2023-03-30T12:21:04.143Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhooks/{subscriptionId}/secrets:
    get:
      tags:
        - Webhooks
      operationId: Webhooks_GetSecrets
      summary: List all secrets
      description: Retrieves a list of all secrets.
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
          x-position: 1
          description: The unique identifier for the subscription.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretsResponse'
              example:
                id: ws_lgQzejyXb0SD8oIDE2zcqA
                secrets:
                  - id: sc_qNkU6yob0vOMxUlb2oynUw
                    value: U3Vic2NyaXB0aW9uUmVzcG9uc2VFeGFtcGxlIDogSUV4YW1wbGVQcm92aWRlcjxTdWJ
                    createdAt: '2023-12-13T14:15:01'
                    lastUsedAt: '2023-12-16T13:44:03.3656144Z'
                    isActive: true
                  - id: sc_zNkU6yob0vOMxUlb2oynUw
                    value: FGswesdsaXB0aW9uUmVzcG9wbGVQcm92aWRlcjxTdWJ
                    createdAt: '2020-12-13T14:15:01'
                    lastUsedAt: '2023-12-02T13:58:03.3656159Z'
                    isActive: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Webhooks
      operationId: Webhooks_GenerateSecret
      summary: Generate a secret
      description: Generates a new secret.
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
          x-position: 1
          description: The unique identifier for the subscription.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretsResponse'
              example:
                secrets:
                  - id: sc_qNkU6yob0vOMxUlb2oynUw
                    value: U3Vic2NyaXB0aW9uUmVzcG9uc2VFeGFtcGxlIDogSUV4YW1wbGVQcm92aWRlcjxTdWJ
                    createdAt: '2023-12-13T14:15:01'
                    lastUsedAt: '2023-12-16T13:44:03.3683851Z'
                    isActive: true
                  - id: sc_zNkU6yob0vOMxUlb2oynUw
                    value: FGswesdsaXB0aW9uUmVzcG9wbGVQcm92aWRlcjxTdWJ
                    createdAt: '2023-12-13T14:15:01'
                    lastUsedAt: '2023-12-02T13:58:03.3683861Z'
                    isActive: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhooks/{subscriptionId}/secrets/{secretId}/activate:
    put:
      tags:
        - Webhooks
      operationId: Webhooks_ActivateSecret
      summary: Activate a secret
      description: Activates a secret.
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
          x-position: 1
          description: The unique identifier for the subscription.
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          x-position: 2
          description: The unique identifier for the secret.
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhooks/{subscriptionId}/secrets/{secretId}:
    delete:
      tags:
        - Webhooks
      operationId: Webhooks_DeleteSecret
      summary: Delete a secret
      description: Deletes a secret.
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
          x-position: 1
          description: The unique identifier for the subscription.
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          x-position: 2
          description: The unique identifier for the secret.
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhooks/{subscriptionId}:
    patch:
      tags:
        - Webhooks
      operationId: Webhooks_SubscribeUpdate
      summary: Update a subscription
      description: Updates your subscription details. You can change the URL or the list of events.
      parameters:
        - $ref: '#/components/parameters/Version'
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
          x-position: 1
          description: The unique identifier for the subscription.
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdateRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: ws_aNkU6yob0vOMxUlghg2oynUw
                accountId: acc_4z3k2xP17e1JQY
                events:
                  - payment_intent.created
                  - payment_intent.status_updated
                url: https://example.com.com/incoming-events
                description: Demo Webhooks
                secrets:
                  - id: sc_qNkU6yob0vOMxUlb2oynUw
                    value: U3Vic2NyaXB0aW9uUmVzcG9uc2VFeGFtcGxlIDogSUV4YW1wbGVQcm92aWRlcjxTdWJ
                    createdAt: '2023-12-13T14:15:01'
                    lastUsedAt: '2023-12-16T13:44:03.3242202Z'
                    isActive: true
                createdAt: '2023-03-30T12:21:04.143Z'
                updatedAt: '2023-03-30T12:21:04.143Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Webhooks
      operationId: Webhooks_DeleteSubscriptions
      summary: Delete a subscription
      description: Deletes a subscription.
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
          x-position: 1
          description: The unique identifier for the subscription.
        - $ref: '#/components/parameters/Version'
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /customers:
    post:
      tags:
        - Customers
      operationId: Customers_Create
      summary: Create a customer
      description: Creates a new customer.
      parameters:
        - $ref: '#/components/parameters/VersionCustomers'
      requestBody:
        x-name: obj
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
            example:
              name: Alex
              emailAddress: alex@dojo.com
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFull'
              example:
                id: cust_sandbox_MJj8Flgfik25x47R4LFbxQ
                name: Alex
                emailAddress: alex@dojo.com
                createdAt: '2024-02-15T02:46:21.8232496Z'
                updatedAt: '2024-02-15T02:46:21.8232496Z'
                documentVersion: 0
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/{customerId}:
    delete:
      tags:
        - Customers
      operationId: Customers_Delete
      summary: Delete a customer
      description: Deletes a customer.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
            nullable: true
            maxLength: 100
          x-position: 2
          example: cust_qNkU6yob0vOMxUlb2oynUw
          description: The unique identifier of the customer.
        - $ref: '#/components/parameters/VersionCustomers'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    patch:
      tags:
        - Customers
      operationId: Customers_Update
      summary: Update information about a customer
      description: Updates information about a customer.
      parameters:
        - name: customerId
          in: path
          required: true
          example: cs_qNkU6yob0vOMxUlb2oynUw
          schema:
            type: string
            nullable: true
            maxLength: 100
          description: The unique identifier of the customer.
          x-position: 2
        - $ref: '#/components/parameters/VersionCustomers'
      requestBody:
        x-name: updateData
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerFull'
              example:
                id: cs_qNkU6yob0vOMxUlb2oynUw
                name: Alex
                emailAddress: alex@dojo.com
                phoneNumber: '078976534161'
                documentVersion: 1
                createdAt: '2023-08-24T14:15:22Z'
                updatedAt: '2023-09-24T14:15:22Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    get:
      tags:
        - Customers
      operationId: Customers_Get
      summary: Retrieve a customer
      description: Retrieves the details of a customer.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
            nullable: true
            maxLength: 100
          description: Unique identifiers for the customers you want to get information about, separated by commas.
        - $ref: '#/components/parameters/VersionCustomers'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerFull'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/{customerId}/create-secret:
    post:
      tags:
        - Customers
      operationId: Customers_CreateCustomerSecret
      summary: Create a customer secret
      description: 'Creates a unique customer secret key valid within a scope of time. '
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
            nullable: true
            maxLength: 100
          x-position: 1
          example: cust_qNkU6yob0vOMxUlb2oynUw
          description: The unique identifier of the customer.
        - $ref: '#/components/parameters/VersionCustomers'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSecret'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/public/{customerId}/payment-methods:
    get:
      tags:
        - Customers
      operationId: Customers_GetPaymentMethods
      summary: Retrieve payment method
      description: Retrieves available payment methods for a customer.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
            nullable: true
            maxLength: 100
          x-position: 1
          example: cust_qNkU6yob0vOMxUlb2oynUw
          description: The unique identifier of the customer.
        - $ref: '#/components/parameters/VersionCustomers'
        - name: authorization
          in: header
          required: true
          schema:
            type: string
            nullable: true
            maxLength: 500
          x-position: 3
          example: 'Authorization: Basic cs_generated-customer-secret'
          description: |
            Basic HTTP authentication to grant access to customer-owned resources.

            - The required customer secret key is short-lived and will expire after a pre-configured set of time.
            - The customer secret can be generated by calling [POST /customers/{`customerId`}/create-secret](#operation/Customers_CreateCustomerSecret)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPaymentMethods'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/public/{customerId}/payment-methods/{paymentMethodId}:
    delete:
      tags:
        - Customers
      operationId: Customers_DeletePaymentMethod
      summary: Remove payment method
      description: |
        Delete a customer payment method.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
            nullable: true
            maxLength: 100
          x-position: 1
          example: cust_qNkU6yob0vOMxUlb2oynUw
          description: The unique identifier of the customer.
        - name: paymentMethodId
          in: path
          required: true
          schema:
            type: string
            nullable: true
            maxLength: 100
          x-position: 2
          example: pm_otRL98WURbaAKs0sdy7_5w
          description: The unique identifier of the customer payment method.
        - $ref: '#/components/parameters/VersionCustomers'
        - name: authorization
          in: header
          required: true
          schema:
            type: string
            nullable: true
            maxLength: 500
          x-position: 4
          example: 'Authorization: Basic cs_generated-customer-secret'
          description: |
            Basic HTTP authentication to grant access to customer-owned resources.

            - The required customer secret key is short-lived and will expire after a pre-configured set of time.
            - The customer secret can be generated by calling [POST /customers/{`customerId`}/create-secret](#operation/Customers_CreateCustomerSecret)
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/search:
    post:
      tags:
        - Customers
      operationId: Customers_Search
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCustomerRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfCustomer'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      parameters:
        - $ref: '#/components/parameters/VersionCustomers'
      summary: List all customers
      description: |-
        Retrieves a list of customers.
        Results are paginated. By default, the method returns up to 50 customers.
  /terminals:
    get:
      tags:
        - Terminals
      parameters:
        - name: statuses
          description: A machine-readable value describing the state of the terminal. Terminals with any of the statuses provided in this parameter will be listed.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TerminalStatus'
          in: query
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/SoftwareHouseId'
        - $ref: '#/components/parameters/ResellerId'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Terminal'
              example:
                - id: tm_sandbox_65c5fe8a104a1222b2d8b968
                  properties:
                    tid: VCMPYC8SIP0
                  status: Available
                  updatedAt: '2024-02-09T10:29:30.213Z'
                - id: tm_sandbox_65c5fe8a104a1222b2d8b666
                  properties:
                    tid: VCMPYC8SIP2
                  status: Available
                  updatedAt: '2024-02-09T10:30:30.213Z'
          description: A list of terminals.
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
      operationId: Terminals_ListTerminals
      summary: Retrieve all terminals
      description: Allows you to retrieve details of all terminals.
  /terminals/{terminalId}:
    get:
      tags:
        - Terminals
      parameters:
        - example: tm_sandbox_65c5fe8a104a12xxxxxxxxxx
          name: terminalId
          description: The unique identifier for the terminal.
          schema:
            type: string
          in: path
          required: true
          x-position: 1
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/SoftwareHouseId'
        - $ref: '#/components/parameters/ResellerId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Terminal'
              example:
                id: tm_sandbox_65c5fe8a104a1222b2d8b968
                properties:
                  tid: VCMPYC8SIP0
                status: Available
                updatedAt: '2024-02-09T10:29:30.213Z'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
      operationId: Terminals_GetTerminal
      summary: Retrieve a terminal
      description: Retrieve a terminal by using its ID.
  /terminal-sessions:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTerminalSessionRequest'
            examples:
              Sale:
                value:
                  terminalId: tm_sandbox_65c5fe8a104a1222b2d8b968
                  details:
                    sale:
                      paymentIntentId: pi_sandbox_81Q7HAZSGkWLKFx_DFEe9Q
                    sessionType: Sale
              Matched Refund:
                value:
                  terminalId: tm_sandbox_65cb51f7b8c708df70d75420
                  details:
                    matchedRefund:
                      paymentIntentId: pi_sandbox_9H-mmJ4hQ0yc3KlwmbInfg
                      amount:
                        value: 800
                        currencyCode: GBP
                    sessionType: MatchedRefund
              Unlinked Refund:
                value:
                  terminalId: tm_sandbox_65cb51f7b8c708df70d75420
                  details:
                    unlinkedRefund:
                      amount:
                        value: 800
                        currencyCode: GBP
                    sessionType: UnlinkedRefund
        required: true
      tags:
        - Terminal sessions
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/SoftwareHouseId'
        - $ref: '#/components/parameters/ResellerId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalSession'
              example:
                createdAt: '2024-02-15T00:48:10.756Z'
                details:
                  sale:
                    paymentIntentId: pi_sandbox_OMqImg5ob0mY7QVyg6quJA
                  sessionType: Sale
                expireAt: '2024-02-15T00:48:20.756Z'
                id: ts_sandbox_65cd5f4a57ba13ad7424acd0
                notificationEvents: []
                status: InitiateRequested
                statusEvents:
                  - createdAt: '2024-02-15T00:48:10.756Z'
                    debugMessage: ''
                    status: InitiateRequested
                terminalId: tm_sandbox_65c5fe8a104a1222b2d8b968
                updatedAt: '2024-02-15T00:48:10.756Z'
          description: Terminal session created.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsTerminals'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsTerminals'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsTerminals'
          description: Not found
      operationId: TerminalSession_Create
      summary: Create a session on a terminal
  /terminal-sessions/{terminalSessionId}:
    get:
      tags:
        - Terminal sessions
      parameters:
        - name: terminalSessionId
          description: The unique identifier of the terminal session.
          schema:
            type: string
          in: path
          required: true
          x-position: 2
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/SoftwareHouseId'
        - $ref: '#/components/parameters/ResellerId'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalSession'
              example:
                createdAt: '2024-02-15T00:48:10.756Z'
                customerReceipt:
                  lines:
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: true
                        size: SizeHeader1
                        value: 'Paymentsense Connect    '
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: true
                        size: SizeHeader1
                        value: 0808 274 3307
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: www.paymentsense.com
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: M:**********66701
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: 'TID:****YC8SIP0     '
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: SCH ID:00000000006615628
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: TABLE:30808347
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: HANDSET:1
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: VISA CREDIT
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: 'AID: A0000000032010'
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: true
                        size: SizeHeader1
                        value: VISA
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: '************0226'
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: PAN SEQ NO. 01
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: ICC_CHIP
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: SALE
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: AMOUNT             £10.00
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: GRATUITY           £0.00
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: CASHBACK           £0.00
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: true
                        size: SizeHeader1
                        value: TOTAL              £10.00
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: true
                        size: SizeBody
                        value: SUCCESSFUL
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: Thank You
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: '2024-02-15T00:48:10Z'
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: AUTH CODE:282994
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: '     CUSTOMER COPY      '
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: ' PLEASE RETAIN RECEIPT'
                details:
                  sale:
                    paymentIntentId: pi_sandbox_OMqImg5ob0mY7QVyg6quJA
                  sessionType: Sale
                expireAt: '2024-02-15T00:49:40.756Z'
                id: ts_sandbox_65cd5f4a57ba13ad7424acd0
                merchantReceipt:
                  lines:
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: true
                        size: SizeHeader1
                        value: 'Paymentsense Connect    '
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: true
                        size: SizeHeader1
                        value: 0808 274 3307
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: www.paymentsense.com
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: M:**********66701
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: 'TID:*****C8SIP0     '
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: SCH ID:00000000006615628
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: TABLE:30808347
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: HANDSET:1
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: VISA CREDIT
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: 'AID: A0000000032010'
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: true
                        size: SizeHeader1
                        value: VISA
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: '************0226'
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: PAN SEQ NO. 01
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: ICC_CHIP
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: SALE
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: AMOUNT             £10.00
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: GRATUITY           £0.00
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: CASHBACK           £0.00
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: true
                        size: SizeHeader1
                        value: TOTAL              £10.00
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: true
                        size: SizeBody
                        value: SUCCESSFUL
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: Thank You
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: '2024-02-15T00:48:10Z'
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: AUTH CODE:282994
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: TXN 0028
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: SESSION 1
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: '     MERCHANT COPY      '
                    - lineType: Text
                      text:
                        align: AlignLeft
                        emphasisBold: false
                        size: SizeBody
                        value: ' PLEASE RETAIN RECEIPT'
                notificationEvents:
                  - createdAt: '2024-02-15T00:48:11.98Z'
                    notificationType: PresentCard
                  - createdAt: '2024-02-15T00:48:16.066Z'
                    notificationType: PleaseWait
                  - createdAt: '2024-02-15T00:48:16.176Z'
                    notificationType: EnterPin
                  - createdAt: '2024-02-15T00:48:17.307Z'
                    notificationType: PleaseWait
                  - createdAt: '2024-02-15T00:48:18.354Z'
                    notificationType: RemoveCard
                status: Captured
                statusEvents:
                  - createdAt: '2024-02-15T00:48:10.756Z'
                    debugMessage: ''
                    status: InitiateRequested
                  - createdAt: '2024-02-15T00:48:10.972Z'
                    debugMessage: ''
[...]
